<header>
  <ul>
    <li><a href="{{ path('register')}}">Register</a></li>
    <li><a href="{{ path('login')}}">Login</a></li>
    <li><a href="{{ path('logout')}}">Logout</a></li>
    <li><a href="{{ path('vma_new')}}">Add VMA</a></li>
    <li><a href="{{ path('user_show')}}">User</a></li>
  </ul>
  <a href="{{path('home')}}">Accueil</a>
</header>