{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="content">
    <ul>
    {% for user in users %}
    <li>{{ user.email}}</li>
    <li>{{ user.firstname}}</li>
    <li>{{ user.lastname}}</li>
    <li>{{ user.dateOfBirth | date('d - m - y')}}</li>
    <li>{{ user.city}}</li>
    {% endfor %}
</ul>
</div>


    

{% endblock %}
